*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    background: linear-gradient(90deg, rgba(193,232,228,1) 0%, rgba(123,222,221,0.7567401960784313) 48%, rgba(100,208,230,0.8015581232492998) 100%);
}

header{
    display: flex;
    min-height: 90px;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-flex;
}

main{
    padding: 35px 10px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin: 10px 10px;
    padding-right: 10px;
}

a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

nav ul li a:hover{
    color: rgb(24, 24, 24);
    transform: scale(1.1,1.1);
    transition: all 0.5s;
}

.logo{
    display: flex;
    align-items: center;    
}

.logo img{
    height: 50px;
    margin-right: 15px;
}



.call{
    height: 500px;
    background-color: aqua;
}

.article{
    height: 500px;
    border: 3px solid black;
    background-color: blueviolet;
}

.ejemplo{
    padding: 30px 20px;
}

footer{
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
    width: 100%;
}