*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    background: linear-gradient(90deg, rgba(193,232,228,1) 0%, rgba(123,222,221,0.7567401960784313) 48%, rgba(100,208,230,0.8015581232492998) 100%);
}

header{
    display: flex;
    min-height: 90px;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;

    nav ul li{
        display: inline-flex;
    }

    nav ul li a:hover{
        color: rgb(24, 24, 24);
        transform: scale(1.1,1.1);
        transition: all 0.5s;
    }
}

main{
    padding: 35px 10px;
}

    h1{
            color: rgb(0, 43, 122);
            text-decoration: underline;
    }

    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: 800;
        margin: 10px 10px;
        padding-right: 10px;
        
        &:hover{
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: 800;
        }
    }

    @mixin detalle ($padd, $altura, $color){
        padding: $padd;
        height: $altura;
        background-color: $color;
    }

    .logo{
        display: flex;
        align-items: center;    
        
        img{
            height: 50px;
            margin-right: 15px;
        }
    }
    
    .call{
        @include detalle(10px,500px,aqua )
    }
    
    .article{
        height: 500px;
        border: 3px solid black;
        background-color: blueviolet;
    }
    
    .article--nueva{
        @extend .article;
        background-color: beige;
        padding: 10px;
        color:black;
    }

    .ejemplo{
        padding: 30px 20px;
    }
    
    footer{
        background-color: aliceblue;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    $redes: (
        20px:rgb(255, 85, 85),
        22px:rgb(233, 114, 78),
        24px:rgb(252, 206, 106),
        26px:rgb(250, 225, 86) 
    );

    @each $siz, $col in $redes {
        .cuadro--#{$siz} {
            height: 60px;
            width: 100px;
            color: $col;
            font-size: $siz;
            border-radius: 12px;
            box-shadow: 13px inset rgb(202, 63, 236);
            background-color: cadetblue;
            display:inline-flex;
        }
    }

